<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn-without-ref" (click)="saveManagement()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Tipo Gest</label>
                <div class="col-sm-2">
                    <select class="form-control" name="AgentTypeID" [(ngModel)]="oManagement.AgentTypeID">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let type of lstMngtType" value="{{type.ID}}">{{type.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-2">
                    <label class="control-label" id="inputTlfnDir">{{selectPhone.phoneNumber}}</label>
                </div>
                <label class="col-sm-2 control-label">Fecha</label>
                <div class="col-sm-2">
                    <label class="control-label" id="inputFecha"></label>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-2">
                    <select class="form-control" name="ContactID" [(ngModel)]="oManagement.ContactID">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cont of lstContact" value="{{cont.ID}}">{{cont.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Resultado</label>
                <div class="col-sm-2">
                    <select class="form-control" name="ResultID" [(ngModel)]="oManagement.ResultID" (ngModelChange)="changeResult($event)">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let res of oResultCodes" value="{{res.ResultID}}">{{res.Description}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Condición</label>
                <div class="col-sm-2">
                    <select class="form-control" name="MngtCondition" [(ngModel)]="oManagement.MngtCondition">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cond of lstCondition" value="{{cond.ID}}">{{cond.Value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="inputDetail">Detalle</label>
                <div class="col-sm-10">
                    <textarea id="inputDetail" class="form-control" rows="3" placeholder="Detalle de la gestión" name="Observation" [(ngModel)]="oManagement.Observation"></textarea>
                </div>
            </div>
            <div *ngIf="showPayComp" class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="TypeComp">Tipo Comp</label>
                <div class="col-sm-4">
                    <select class="form-control" id="TypeComp" name="TypeComp" [(ngModel)]="oManagement.TypeComp">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let typ of lstTypeComp" value="{{typ.ID}}">{{typ.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Fecha</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" name="DateComp" id="DateComp" [(ngModel)]="oManagement.DateCompString" />
                </div>
            </div>
            <div *ngIf="showPayComp" class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="ddlCurrency">Moneda</label>
                <div class="col-sm-4">
                    <select class="form-control" id="ddlCurrency" name="Currency" [(ngModel)]="oManagement.Currency">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cur of lstCurrency" value="{{cur.ID}}">{{cur.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label" for="Amount">Monto</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control text-right" name="Amount" id="Amount" [(ngModel)]="oManagement.Amount" />
                </div>
            </div>
        </form>
    </div>
</div>