<form class="form-horizontal" name="formMngt" #formMngt="ngForm" role="form" novalidate>

<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"> {{selectPhone.phoneNumber}}{{selectAddress.Address}}</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="showInputDate"><a><span>{{todayDate}}</span></a></li>
                    <li *ngIf="!showInputDate">
                        <div class="mngt-camp-gest">
                            <!-- <input type="date" class="form-control mngt-input-date" name="CampMngtDate" [(ngModel)]="CampMngtDate" /> -->
                            <p-calendar [(ngModel)]="dtToday" readonlyInput="true" name="fecha" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true"></p-calendar>
                        </div>
                    </li>
                    <li><a class="btn-without-ref" (click)="saveManagement(formMngt.valid)"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a></li>
                    <li><a class="btn-without-ref" (click)="FN_CleanManagement()"><span class="glyphicon glyphicon-remove"></span> Limpiar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Tipo Gest</label>
                <div class="col-sm-4" [ngClass]="{'has-error has-feedback' : submitted && MngtType.invalid}">
                    <select class="form-control" name="MngtType" #MngtType="ngModel" [(ngModel)]="oManagement.MngtType" required>
                        <option *ngFor="let type of lstMngtType" value="{{type.ID}}">{{type.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Condición</label>
                <div class="col-sm-4">
                    <select class="form-control" name="LocationContact" #LocationContact="ngModel" [(ngModel)]="oManagement.LocationContact" required>
                        <option value="">Seleccionar</option>
                        <option *ngFor="let loc of lstLocation" value="{{loc.ID}}">{{loc.Value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-4" [ngClass]="{'has-error has-feedback' : submitted && ContactID.invalid}">
                    <select class="form-control" name="ContactID" #ContactID="ngModel" [(ngModel)]="oManagement.ContactID" (ngModelChange)="changeContact($event)" required>
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cont of lstContact" value="{{cont.ID}}">{{cont.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Resultado</label>
                <div class="col-sm-4" [ngClass]="{'has-error has-feedback' : submitted && ResultID.invalid}">
                    <select class="form-control" name="ResultID" #ResultID="ngModel" [(ngModel)]="oManagement.ResultID" (ngModelChange)="changeResult($event)" required>
                        <option value="">Seleccionar</option>
                        <option *ngFor="let res of lstResultCodeContactFilter" value="{{res.ResultID}}">{{res.ResultCodeName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="inputDetail">Detalle</label>
                <div class="col-sm-10" [ngClass]="{'has-error has-feedback' : submitted && Observation.invalid}">
                    <textarea id="inputDetail" class="form-control" rows="3" placeholder="Detalle de la gestión" name="Observation" #Observation="ngModel" [(ngModel)]="oManagement.Observation" required></textarea>
                    <span *ngIf="submitted && Observation.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        <div *ngIf="showPayComp" class="form-group form-group-sm">
            <div *ngIf="showNoPayComp">
                <label class="col-sm-2 control-label" for="TypeComp">Tipo Comp</label>
                <div class="col-sm-4">
                    <select class="form-control" id="TypeComp" name="TypeComp" [(ngModel)]="oManagement.TypeComp">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let typ of lstTypeComp" value="{{typ.ID}}">{{typ.Value}}</option>
                    </select>
                </div>
            </div>
            <label class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="DateComp" id="DateComp" [(ngModel)]="oManagement.DateCompString" />
            </div>
        </div>
        <div *ngIf="showPayComp" class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="ddlCurrency">Moneda</label>
            <div class="col-sm-4">
                <select class="form-control" id="ddlCurrency" name="Currency" [(ngModel)]="oManagement.Currency">
                    <option value="">Seleccionar</option>
                    <option *ngFor="let cur of lstCurrency" value="{{cur.ID}}">{{cur.Value}}</option>
                </select>
            </div>
            <label class="col-sm-2 control-label" for="Amount">Monto</label>
            <div class="col-sm-3">
                <input type="text" class="form-control text-right" name="Amount" id="Amount" [(ngModel)]="oManagement.Amount" />
            </div>
        </div>
    </div>
</div>

</form>