<div class="row">
    <div class="col-md-2">
        <h5><p class="text-center">Gestión General</p></h5>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 input-group input-group-sm">
            <!-- <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{Val}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="btn-without-ref" (click)="selectOption('Documento')">Documento</a></li>
                    <li><a class="btn-without-ref" (click)="selectOption('Nombre')">Nombre</a></li>
                    <li><a class="btn-without-ref" (click)="selectOption('Teléfono')">Teléfono</a></li>
                </ul> 
            </div>
            <input type="text" #searchText (keyup.enter)="onEnter(searchText.value)" class="form-control" aria-label="..." placeholder="Buscar clientes" /> -->
            <select class="form-control mngt-search-select" title="Tipo de búsqueda">
                <option value="1"> Documento de Identidad</option>
                <option value="2"> Nombre</option>
                <option value="3"> Teléfono</option>
            </select> 
            <input type="text" #searchText (keyup.enter)="onEnter(searchText.value)" class="form-control mngt-search-input" aria-label="..." placeholder="Buscar clientes"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary" [disabled]="btnprevState" (click)="prevCustomer()"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Filtros</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary" [disabled]="btnnextState" (click)="nextCustomer()"><span class="glyphicon glyphicon-chevron-right"></span> Siguiente</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-stats"></span> Resumen</button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-phone-alt"></span> Progresivo</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <gen-customerbag [customerBagData]="customerBagData"></gen-customerbag>
    </div>
    <div class="col-md-6">
        <gen-customerbag-phone *ngIf="showPhoneOrAddress" [customerBagPhoneData]="customerBagPhoneData" [customerBagAddressData]="customerBagAddressData" [customerData]="customerData" (selectPhone)="handleSelectPhone($event)" (changeManagement)="handleChangeManagement($event)"></gen-customerbag-phone>
        <gen-customerbag-address *ngIf="!showPhoneOrAddress" [customerBagAddressData]="customerBagAddressData" [customerData]="customerData" (selectAddress)="handleSelectAddress($event)" (changeManagement)="handleChangeManagement($event)"></gen-customerbag-address>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <gen-customerbag-account [CustBagAccountData]="customerBagAccountData" [accountTotal]="accountTotal"></gen-customerbag-account>
        <gen-management-list [selectPhone]="selectPhone" [CustBagManagementsData]="customerBagManagementsData" [lstBackupManagementsData]="customerBagManagementsDataBack"></gen-management-list>
    </div>
    <div class="mngt-row-left col-md-4">
        <gen-management [selectAddress]="selectAddress" [selectPhone]="selectPhone" [customerData]="customerData" (loadmanagements)="handleLoadManagement($event)"></gen-management>
    </div>
</div>

<!-- Modal - Edit customer bag data -->
<div class="modal fade" id="editCustomerBagDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar datos del Cliente</h4>
      </div>
      <div class="modal-body">
        <edit-gen-customerbag></edit-gen-customerbag>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Show searching results -->
<div class="modal fade" id="resultSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Resultados de la búsqueda</h4>
        </div>
        <div class="modal-body">
            <gen-customerbag-search></gen-customerbag-search>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        </div>
    </div>
</div>