<div class="row">
    <div class="col-md-2">
        <h4>
            <p class="text-center">
                Gestión General {{customer}}
            </p>
        </h4>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Buscar clientes" />
    </div>
    <div class="col-md-6">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" [disabled]="btnprevState" (click)="prevCustomer()"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Filtros</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" [disabled]="btnnextState" (click)="nextCustomer()"><span class="glyphicon glyphicon-chevron-right"></span> Siguiente</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-stats"></span> Resumen</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-phone-alt"></span> Progresivo</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <gen-customerbag [customerBagData]="customerBagData"></gen-customerbag>
    </div>
    <div class="col-md-6">
        <gen-customerbag-phone [customerBagPhoneData]="customerBagPhoneData" (selectPhone)="handleSelectPhone($event)"></gen-customerbag-phone>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <gen-customerbag-account [CustBagAccountData]="customerBagAccountData"></gen-customerbag-account>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <gen-management-list [CustBagManagementsData]="customerBagManagementsData"></gen-management-list>
    </div>
    <div class="col-md-6">
        <gen-management [selectPhone]="selectPhone"></gen-management>
    </div>
</div>