<p-dialog header="Resultados de la Búsqueda" [(visible)]="blnShow" modal="modal" width="1000" [responsive]="true">
    <div style="min-height: 400px">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Teléfono</th>
                    <th>Entidad</th>
                    <th>Cartera</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList" (click)="setClickedRow(data)" [class.active]="data.CustomerBagID == returnData.CustomerBagID">
                    <td>{{data.CustomerBagID}}</td>
                    <td>{{data.Name}}</td>
                    <td>{{data.Phone}}</td>
                    <td>{{data.CustomerDesc}}</td>
                    <td>{{data.BagDesc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="confirm()" label="Seleccionar"></button>
        <button type="button" pButton icon="fa-close" (click)="blnShow=false" label="Cancelar"></button>
    </p-footer>
</p-dialog>