<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Gestiones</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <ul class="nav navbar-nav navbar-right">
                    <li [ngClass]="{ 'active': intActiveFilter == 1 }"><a class="btn-without-ref" (click)="filterList(1)"><span class="glyphicon glyphicon-filter"></span> Todos</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 2 }"><a class="btn-without-ref" (click)="filterList(2)"><span class="glyphicon glyphicon-filter"></span> Call</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 3 }"><a class="btn-without-ref" (click)="filterList(3)"><span class="glyphicon glyphicon-filter"></span> Campo</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 4 }"><a class="btn-without-ref" (click)="filterList(4)"><span class="glyphicon glyphicon-filter"></span> Compromiso</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 5 }"><a class="btn-without-ref" (click)="filterList(5)"><span class="glyphicon glyphicon-filter"></span> Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mngt-scrolls">
        <table class="table-mngt table table-hover table-body-size table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cartera</th>
                    <th>Fecha</th>
                    <th>Número</th>
                    <th>Resultado</th>
                    <th>Agente</th>
                    <th>Fch. Comp</th>
                    <th>Monto</th>
                    <th>Tipo Gest</th>
                    <th>Digitador</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mngt of CustBagManagementsData" (click)="setClickedRow(mngt.ManagementID, mngt.Observation)" [class.active]="mngt.ManagementID == selectRow">
                    <td>{{mngt.ManagementID}}</td>
                    <td>{{mngt.BagID}}</td>
                    <td>{{mngt.MngtDate}}</td>
                    <td>{{mngt.PhoneID}}</td>
                    <td>{{mngt.ResultID}}</td>
                    <td>{{mngt.AgentID}}</td>
                    <td>01/01/2001</td>
                    <td>0</td>
                    <td>{{mngt.AgentTypeID}}</td>
                    <td>{{mngt.AgentTypist}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3">{{selectObservation}}</textarea>
            </div>
        </div>
    </div>
</div>