<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Gestiones</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <ul class="nav navbar-nav navbar-right">
                    <li [ngClass]="{ 'active': intActiveFilter == 1 }"><a class="btn-without-ref" (click)="filterList(1)"><span class="glyphicon glyphicon-filter"></span> Todos</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 2 }"><a class="btn-without-ref" (click)="filterList(2)"><span class="glyphicon glyphicon-filter"></span> Call</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 3 }"><a class="btn-without-ref" (click)="filterList(3)"><span class="glyphicon glyphicon-filter"></span> Campo</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 4 }"><a class="btn-without-ref" (click)="filterList(4)"><span class="glyphicon glyphicon-filter"></span> Compromiso</a></li>
                    <li [ngClass]="{ 'active': intActiveFilter == 5 }"><a class="btn-without-ref" (click)="filterList(5)"><span class="glyphicon glyphicon-filter"></span> Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mngt-scrolls table-responsive">
        <table class="table-fixed-header table-mngt table table-hover table-body-size">
            <thead class="table-fixed-header-th">
                <tr>
                    <th width="50px">ID</th>
                    <th style="width: 100px">Cartera</th>
                    <th style="width: 100px">Fecha</th>
                    <th style="width: 150px">Número</th>
                    <th style="width: 100px">Dir ID</th>
                    <th style="width: 100px">Agente</th>
                    <!-- <th style="width: 100px">Rest</th> -->
                    <th style="width: 250px">Resultado de Gestión</th>
                    <th style="width: 100px">Fch. Comp</th>
                    <th style="width: 100px">Moneda</th>
                    <th style="width: 100px">Monto</th>
                    <th style="width: 200px">Tipo Gest</th>
                    <th style="width: 100px">Clase Gest</th>
                    <th style="width: 200px">Contacto</th>
                    <th style="width: 200px">Lugar</th>
                    <th style="width: 100px">Digitador</th>
                    <th style="width: 350px">Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mngt of lstBackupManagementsData" (click)="setClickedRow(mngt.ManagementID, mngt.Observation)" [class.active]="mngt.ManagementID == selectRow">
                    <td width="50px">{{mngt.ManagementID}}</td>
                    <td style="width: 100px">{{mngt.BagDesc}}</td>
                    <td style="width: 100px">{{mngt.MngtDateString}}</td>
                    <td style="width: 150px">{{mngt.PhoneDesc}}</td>
                    <td style="width: 100px">{{mngt.AddressID}}</td>
                    <td style="width: 100px">{{mngt.AgentDesc}}</td>
                    <!-- <td style="width: 100px">{{mngt.ResultCode}}</td> -->
                    <td style="width: 250px">{{mngt.ResultDesc}}</td>
                    <td style="width: 100px">{{mngt.DateCompString}}</td>
                    <td style="width: 100px">{{mngt.CurrencyDesc}}</td>
                    <td style="width: 100px">{{mngt.Amount}}</td>
                    <td style="width: 200px">{{mngt.MngtTypeDesc}}</td>
                    <td style="width: 100px">{{mngt.MngtClassDesc}}</td>
                    <td style="width: 200px">{{mngt.ContactDesc}}</td>
                    <td style="width: 200px">{{mngt.LocationContact}}</td>
                    <td style="width: 100px">{{mngt.AgentTypistDesc}}</td>
                    <td style="width: 350px">{{mngt.AddressDesc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="bg-info"><b>Notas: </b>{{selectObservation}}</p>
</div>