<p-dialog header="Crear Alerta" [(visible)]="blnShow" modal="modal" width="600" [responsive]="true">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Cliente</label>
            <label class="col-sm-9 control-label">{{customerData.DocNumber}} - {{customerData.Name}}</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Tipo de alerta</label>
            
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Fecha y hora</label>
            <p-calendar [(ngModel)]="value" name="fecha" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [inline]="true"></p-calendar>
        </div>
    </form>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="blnShow=false" label="Yes"></button>
        <button type="button" pButton icon="fa-close" (click)="blnShow=false" label="No"></button>
    </p-footer>
</p-dialog>