<form class="container">
    <h5>¿Desea eliminar código de resultado?</h5>

    <span>Al eliminar tener encuenta:</span>
    <ul>
        <li>Afectara a las gestiones</li>
        <li>Afectara a la relación contacto - resultado</li>
        <li>Afectara a la relación resultado - código de clientes</li>
    </ul>

    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="Delete()" >Eliminar</button>
        <button type="button" class="btn btn-primary" (click)="Cancel()" >Cancelar</button>
    </div>
</form>