<form class="form-horizontal" name="formPhone" #formPhone="ngForm" role="form" novalidate>

<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-earphone"></span> Teléfonos</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!formState"><a class="btn-without-ref" (click)="newCustomerPhone()"><span class="glyphicon glyphicon-plus"></span> Nuevo</a></li>
                    <li *ngIf="formState"><a class="btn-without-ref" (click)="saveCustomerPhone(formPhone.valid)"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</a></li>
                    <li *ngIf="formState"><a class="btn-without-ref" (click)="cancelCustomerPhone()"><span class="glyphicon glyphicon-floppy-remove"></span> Cancelar</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mngt-scrolls" *ngIf="!formState">
        <table id="tPhone" class="table-mngt table table-hover table-body-size">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Teléfono</th>
                    <th>Prio</th>
                    <th>Proveedor</th>
                    <th>Anexo</th>
                    <th>Origen</th>
                    <th>Clase</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phone of customerBagPhoneData" (click)="setClickedRow(phone.ID, phone.Phone)" [class.active]="phone.ID == selectObjPhone.phoneID">
                    <td><a class="btn-without-ref" (click)="editCustomerPhone(phone.ID)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td>{{phone.ID}}</td>
                    <td>{{phone.Phone}}</td>
                    <td>{{phone.Priority}}</td>
                    <td>{{phone.ProviderDesc}}</td>
                    <td>{{phone.Annexed}}</td>
                    <td>{{phone.OriginDesc}}</td>
                    <td>{{phone.ClassDesc}}</td>
                    <td>{{phone.Observation}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body mngt-scrolls" *ngIf="formState">
        <!-- <form class="form-horizontal" name="formPhone" #formPhone="ngForm" role="form" novalidate>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : submitted && number.invalid}">
                    <input class="form-control" type="text" name="number" [(ngModel)]="custBagPhone.number" autofocus required />
                    <span *ngIf="submitted && number.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="col-sm-2 control-label">Anexo</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="annexed" [(ngModel)]="custBagPhone.annexed"/>
                </div>
                <label class="col-sm-2 control-label">Clase</label>
                <div class="col-sm-2">
                    <select class="form-control" name="classes" [(ngModel)]="custBagPhone.classes">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cla of lstClass" value="{{cla.Code}}">{{cla.Value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Proveedor</label>
                <div class="col-sm-2">
                    <select class="form-control" name="provider" [(ngModel)]="custBagPhone.provider">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let opt of lstProvider" value="{{opt.Code}}">{{opt.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Origen</label>
                <div class="col-sm-2">
                    <select class="form-control" name="origin" [(ngModel)]="custBagPhone.origin">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let opt2 of lstOrigin" value="{{opt2.Code}}">{{opt2.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Código Prov.</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="codeProvince" [(ngModel)]="custBagPhone.codeProvince" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <select class="form-control" name="AddressID" [(ngModel)]="custBagPhone.AddressID">
                        <option value="0">Seleccionar</option>
                        <option value="1">Av. Teresa Gonzales fannin 100</option>
                        <option value="2">Av. Loma Hermosa 115</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Observación</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="observation" [(ngModel)]="custBagPhone.observation"></textarea>
                </div>
            </div>
        </form> -->
        
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : submitted && number.invalid}">
                    <input class="form-control" type="text" name="number" #number="ngModel" [(ngModel)]="custBagPhone.number" autofocus required />
                    <span *ngIf="submitted && number.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="col-sm-2 control-label">Anexo</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" name="annexed" [(ngModel)]="custBagPhone.annexed"/>
                </div>
                <label class="col-sm-2 control-label">Clase</label>
                <div class="col-sm-2">
                    <select class="form-control" name="classes" [(ngModel)]="custBagPhone.classes">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let cla of lstClass" value="{{cla.Code}}">{{cla.Value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Proveedor</label>
                <div class="col-sm-2">
                    <select class="form-control" name="provider" [(ngModel)]="custBagPhone.provider">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let opt of lstProvider" value="{{opt.Code}}">{{opt.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Origen</label>
                <div class="col-sm-2">
                    <select class="form-control" name="origin" [(ngModel)]="custBagPhone.origin">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let opt2 of lstOrigin" value="{{opt2.Code}}">{{opt2.Value}}</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Código Prov.</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="codeProvince" [(ngModel)]="custBagPhone.codeProvince" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <select class="form-control" name="AddressID" [(ngModel)]="custBagPhone.AddressID">
                        <option value="0">Seleccionar</option>
                        <option value="1">Av. Teresa Gonzales fannin 100</option>
                        <option value="2">Av. Loma Hermosa 115</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Observación</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="observation" [(ngModel)]="custBagPhone.observation"></textarea>
                </div>
            </div>
    </div>
</div>

</form>