<form class="form-horizontal" name="formPhone" #formPhone="ngForm" role="form" novalidate>

<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-earphone"></span> Teléfonos</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!formState"><a class="btn-without-ref" (click)="showAddress()"><span class="glyphicon glyphicon-map-marker"></span> Direcciones</a></li>
                    <li *ngIf="!formState"><a class="btn-without-ref" (click)="newCustomerPhone()"><span class="glyphicon glyphicon-plus"></span> Nuevo</a></li>
                    <li *ngIf="formState"><a class="btn-without-ref" (click)="saveCustomerPhone(formPhone.valid)"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</a></li>
                    <li *ngIf="formState"><a class="btn-without-ref" (click)="cancelCustomerPhone()"><span class="glyphicon glyphicon-floppy-remove"></span> Cancelar</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mngt-scrolls table-responsive" *ngIf="!formState">
        <table id="tPhone" class="table-mngt table table-hover table-body-size">
            <thead>
                <tr>
                    <th></th>
                    <th>Teléfono</th>
                    <th>Prio</th>
                    <th>Proveedor</th>
                    <th>Anexo</th>
                    <th>Origen</th>
                    <th>Clase</th>
                    <th>Observación</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let phone of customerBagPhoneData" (click)="setClickedRow(phone.ID, phone.Phone)" [class.active]="phone.ID == selectObjPhone.phoneID">
                    <td><a class="btn-without-ref" (click)="editCustomerPhone(phone)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td>{{phone.Phone}}</td>
                    <td>{{phone.Priority}}</td>
                    <td>{{phone.ProviderDesc}}</td>
                    <td>{{phone.Annexed}}</td>
                    <td>{{phone.OriginDesc}}</td>
                    <td>{{phone.ClassDesc}}</td>
                    <td>{{phone.Observation}}</td>
                    <td>{{phone.ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body mngt-scrolls" *ngIf="formState">
        <div *ngIf="!editOrNewPhone" class="form-group form-group-sm">
            <label class="col-sm-2 control-label">ID</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="ID" [(ngModel)]="custBagPhone.ID" disabled />
            </div>
            <label class="col-sm-2 control-label">Situación</label>
            <div class="col-sm-4">
                <select class="form-control" name="Situation" [(ngModel)]="custBagPhone.Situation" >
                    <option *ngFor="let sit of lstSituation" value="{{sit.ID}}">{{sit.Value}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-4" [ngClass]="{'has-error has-feedback' : submitted && number.invalid}">
                <input class="form-control" type="text" name="number" #number="ngModel" [(ngModel)]="custBagPhone.Phone" [disabled]="!editOrNewPhone" autofocus required maxlength="10" />
                <span *ngIf="submitted && number.invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <label class="col-sm-2 control-label">Anexo</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="annexed" [(ngModel)]="custBagPhone.Annexed" maxlength="6" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Clase</label>
            <div class="col-sm-4">
                <select class="form-control" name="classes" [(ngModel)]="custBagPhone.Class">
                    <option value="">Seleccionar</option>
                    <option *ngFor="let cla of lstClass" value="{{cla.ID}}">{{cla.Value}}</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">Proveedor</label>
            <div class="col-sm-4">
                <select class="form-control" name="provider" [(ngModel)]="custBagPhone.Provider">
                    <option value="">Seleccionar</option>
                    <option *ngFor="let opt of lstProvider" value="{{opt.ID}}">{{opt.Value}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Origen</label>
            <div class="col-sm-4">
                <select class="form-control" name="origin" [(ngModel)]="custBagPhone.Origin">
                    <option value="">Seleccionar</option>
                    <option *ngFor="let opt2 of lstOrigin" value="{{opt2.ID}}">{{opt2.Value}}</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">Código Prov.</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="codeProvince" [(ngModel)]="custBagPhone.ProvinceCode" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-10">
                <select class="form-control" name="AddressID" [(ngModel)]="custBagPhone.AddressID">
                    <option value="0">Seleccionar</option>
                    <option *ngFor="let addr of customerBagAddressData" value="{{addr.ID}}">{{addr.Address}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Observación</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="observation" [(ngModel)]="custBagPhone.Observation"></textarea>
            </div>
        </div>
    </div>
</div>

</form>