<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-credit-card"></span> Cuentas</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <strong><small><span>Total Deuda: S/. {{accountTotal.totalCapital |  number:'1.2-2'}}</span><br>
                            <span>Total Deuda: $ {{accountTotal.totalCapitalDol |  number:'1.2-2'}}</span></small></strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            <strong><small><span>Total Campaña 1: S/. {{accountTotal.totalCampaign1 |  number:'1.2-2'}}</span><br>
                            <span>Total Campaña 1: $ {{accountTotal.totalCampaign1Dol |  number:'1.2-2'}}</span></small></strong>
                        </a>
                    </li>
                    <li>
                        <a>
                            <strong><small><span>Total Campaña 2: S/. {{accountTotal.totalCampaign2 |  number:'1.2-2'}}</span><br>
                            <span>Total Campaña 2: $ {{accountTotal.totalCampaign2Dol |  number:'1.2-2'}}</span></small></strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="mngt-scrolls table-responsive">
        <table class="table-fixed-header table-mngt table table-hover table-body-size table-bordered">
            <thead class="table-fixed-header-th">
                <tr>
                    <th width="150px">Cartera</th>
                    <th width="150px">Cuenta</th>
                    <th width="200px">SubCuenta</th>
                    <th width="150px">Capital</th>
                    <th width="150px">Deuda Total</th>
                    <th width="150px">Campaña 1</th>
                    <th width="150px">Campaña 2</th>
                    <th width="100px">Dias Mora</th>
                    <th width="200px">Producto</th>
                    <th width="200px">Sub Producto</th>
                    <th width="100px">Moneda</th>
                    <th width="200px">Opcional 1</th>
                    <th width="200px">Opcional 2</th>
                    <th width="200px">Opcional 3</th>
                    <th width="200px">Monto 1</th>
                    <th width="200px">Monto 2</th>
                    <th width="50px">ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acc of CustBagAccountData">
                    <td width="150px">{{acc.BagDesc}}</td>
                    <td width="150px">{{acc.AccountNumber}}</td>
                    <td width="200px">{{acc.SubBagID}}</td>
                    <td width="150px" class="text-right">{{acc.Capital |  number:'1.2-2'}}</td>
                    <td width="150px" class="text-right">{{acc.TotalDebt |  number:'1.2-2'}}</td>
                    <td width="150px" class="text-right">{{acc.Amount1 |  number:'1.2-2'}}</td>
                    <td width="150px" class="text-right">{{acc.Amount2 |  number:'1.2-2'}}</td>
                    <td width="100px" class="text-right">{{acc.DelayDayNum}}</td>
                    <td width="200px">{{acc.Product}}</td>
                    <td width="200px">{{acc.FinalProduct}}</td>
                    <td width="100px">{{acc.MoneyDesc}}</td>
                    <td width="200px">{{acc.}}</td>
                    <td width="200px">{{acc.}}</td>
                    <td width="200px">{{acc.}}</td>
                    <td width="200px">{{acc.}}</td>
                    <td width="200px">{{acc.}}</td>
                    <td width="50px">{{acc.ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>