<form class="form-horizontal" name="frmManagement" #frmManagement="ngForm" role="form" novalidate>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-1">
            <h4>Mantenimiento</h4>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">ID</label>
            <div class="col-sm-2">
                <input type="text" name="ID" [(ngModel)]="gManagement.ID" class="form-control" readonly >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Descripción</label>
            <div class="col-sm-5" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <input type="text" name="Description" [(ngModel)]="gManagement.Description" class="form-control" maxlength="50" required >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Progresivo</label>
            <div class="col-sm-2">
                <input type="checkbox" name="Progresive" [(ngModel)]="gManagement.Progresive" (change)="FChangeProgresive()" disabled={{gblnBlocking}} >
            </div>
            <label class="col-sm-1 control-label">Tipo</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <select name="Type" [(ngModel)]="gManagement.Type" class="form-control" (change)="FChangeType()" disabled={{gblnProgresive}} required>
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstType" value="{{item.ID}}">{{item.Value}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Cliente</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <select name="Customer" [(ngModel)]="gManagement.Customer" class="form-control" (change)="FChangeCustomer($event)" disabled={{gblnBlocking}} required>
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstCustomer" value="{{item.ID}}">{{item.CustomerName}}</option>
                </select>
            </div>
            <label class="col-sm-1 control-label ">Cartera</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <select name="Bag" [(ngModel)]="gManagement.Bag" class="form-control" disabled={{gblnBlocking}} required>
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstBagFilter" value="{{item.BagID}}">{{item.BagName}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1">Fch.Inicio</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <input type="date" name="DtBegin" [(ngModel)]="gManagement.DtBegin" class="form-control" required>
            </div>
            <label class="col-sm-1">Fch.Fin</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <input type="date" name="DtEnd" [(ngModel)]="gManagement.DtEnd" class="form-control" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Situación</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate }" >
                <select name="Situation" [(ngModel)]="gManagement.Situation" class="form-control" required>
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstSituation" value="{{item.ID}}">{{item.Value}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-11" [ngClass]="{'has-error has-feedback' : gblnValidate }">
            <FilterImport-component *ngIf="gblnVisibleImport" (FSetImport)="FGetImport($event)" ></FilterImport-component>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="button" (click)="FSave(frmManagement.valid)" class="btn btn-primary">Guardar</button>
                <button type="button" (click)="FExit()" class="btn btn-primary">Salir</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-10">
                <div *ngIf="gblnCorrect" class="alert alert-success">
                    <strong>Éxito!</strong> {{gstrCorrect}}.
                </div>
                <div *ngIf="gblnError" class="alert alert-danger">
                    <strong>Error!</strong> {{gstrError}}.
                </div>
            </div>
        </div>
    </div>
</form>