<p-dialog header="Consulta de Notificaciones" [(visible)]="blnShow" modal="modal" width="1000" [responsive]="true">
    <div style="min-height: 400px">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label">Fecha</label>
                <div class="col-sm-3">
                    <p-calendar [(ngModel)]="value" name="fecha" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-sm-2">
                    <label>
                        <input type="checkbox" [(ngModel)]="chkAll" > Todas
                    </label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info btn-sm" type="button" (click)="FN_SelectDate()" ><span class="glyphicon glyphicon-list"></span> Consultar</button>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Cartera</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let noti of lstNotifications">
                    <td>{{noti.ID}}</td>
                    <td>{{noti.TypeName}}</td>
                    <td>{{noti.BagName}}</td>
                    <td>{{noti.CustomerBagName}}</td>
                    <td>{{noti.AlertDate}}</td>
                    <td>{{noti.AlertTime}}</td>
                    <td>{{noti.AlertStatusName}}</td>
                    <td><button type="button" class="btn btn-info btn-sm" (click)="GoToCustomerBag(noti.CustomerBagID,noti.ID,noti.CustomerID,noti.BagID,noti.AlertStatusID)"><span class="glyphicon glyphicon-earphone"></span> Gestionar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>
