<form class="form-horizontal" name="frmView" #frmView="ngForm" role="form" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <h5><p class="text-center">Consulta Cuenta</p></h5>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">ID</label>
            <div class="col-sm-2">
                <input type="text" name="txtID" [(ngModel)]="view.txtID" class="form-control" readonly > 
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Descripción</label>
            <div class="col-sm-9">
                <input type="text" name="txtDescription" [(ngModel)]="view.txtDescription" class="form-control" readonly >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-9">
                <button type="submit" id="btnExit" class="btn btn-primary" (click)="FExit()" >Salir</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-md-9">
            <div class="mngt-scrolls table-responsive">
                <table id="TCustomerBag" class="table-mngt table table-hover table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of glstCustomerBag">
                            <td>{{item.CustomerBagID}}</td>
                            <td>{{item.DocNumber}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                <a class="btn-without-ref" (click)="FSelect(item.CustomerBagID)"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-md-9">
            <div class="mngt-scrolls table-responsive">
                <table id="tAccount" class="table-mngt table table-hover table-body-size">
                    <thead>
                        <tr>
                            <th *ngFor="let item of glstHead">{{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of glstBody">
                            <td *ngFor="let col of item; let row = index" [ngStyle]="FColorCelda(row)">{{col}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngFor="let item of glstFoot">
                            <td *ngFor="let col of item">{{col}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</form>