<form class="form-horizontal" name="frmView" #frmView="ngForm" role="form" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <h5><p class="text-center">Consulta Cuenta</p></h5>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">ID</label>
            <div class="col-sm-2">
                <input type="text" name="txtID" [(ngModel)]="view.txtID" class="form-control" readonly > 
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Descripción</label>
            <div class="col-sm-9">
                <input type="text" name="txtDescription" [(ngModel)]="view.txtDescription" class="form-control" readonly >
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-offset-1 col-sm-1 control-label">Cliente</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate}">
                <select name="ddlCustomerID" [(ngModel)]="view.ddlCustomerID" class="form-control" (change)="FFilterBagID($event)" required >
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstCustomer" value="{{item.ID}}">{{item.CustomerName}}</option>
                </select>
            </div>
            <label class="col-sm-offset-1 col-sm-1 control-label">Cartera</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : gblnValidate}">
                <select name="ddlBagID" [(ngModel)]="view.ddlBagID" class="form-control" (change)="FFilterCustomerBag(frmView.valid)" required >
                    <option value="">Seleccionar</option>
                    <option *ngFor="let item of glstBagFilter" value="{{item.BagID}}">{{item.BagName}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-9">
                <button type="submit" id="btnExit" class="btn btn-primary" (click)="FExit()" >Salir</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-md-9">
            <div class="mngt-scrolls table-responsive">
                <table id="TCustomerBag" class="table-mngt table table-hover table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of glstCustomerBag">
                            <td>{{item.CustomerBagID}}</td>
                            <td>{{item.DocNumber}}</td>
                            <td>{{item.Name}}</td>
                            <td>
                                <a class="btn-without-ref" (click)="FSelect(item.CustomerBagID)"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-md-9">
            <div class="mngt-scrolls table-responsive">
                <table id="tAccount" class="table-mngt table table-hover table-body-size">
                    <thead>
                        <tr>
                            <th *ngFor="let item of glstAccountFormat">{{item.ColumnDescription}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item1 of glstAccount">
                            <td *ngFor="let item2 of glstAccountFormat; let row = index" [ngStyle]="FColorCelda(item2.ColumnColorName)" >{{item1[item2.ColumnComment]}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th *ngFor="let item of glstTotalSol">{{item}}</th>
                        </tr>
                        <tr>
                            <th *ngFor="let item of glstTotalDol">{{item}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>