<form class="form-horizontal" name="formSearch" #formSearch="ngForm" role="form" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <h5><p class="text-center">Mantenimiento Agente</p></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-8">
            <div class="col-md-11 input-group input-group-sm">
                <input type="text" name="txtFact" (keyup.enter)="FSearch(txtFact.value)" class="form-control mngt-search-input" aria-label="..." #txtFact placeholder="Buscar agente" [(ngModel)]="gSearch.txtFact" />                
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click)="FNew()" >Nuevo</button>
                </span>
            </div>
        </div>        
    </div>
    <br>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="mngt-scrolls table-responsive">
                <table class="table-mngt table table-hover table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Nombre Corto</th>
                            <th>Tipo Gestor</th>
                            <th>Usuario</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of glstAgent'>
                            <td>{{item.AgentID}}</td>
                            <td>{{item.FullName}}</td>
                            <td>{{item.ShortName}}</td>
                            <td>{{item.TypeDesc}}</td>
                            <td>{{item.UserName}}</td>
                            <td>
                                <a class="btn-without-ref" (click)="FEdit(item.AgentID)"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                            <td>
                                <a class="btn-without-ref" (click)="FDelete(item.AgentID,item.FullName)"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>