
<div class="container">
    <h1>Resultado</h1>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="idobj" class="col-sm-1 control-label">ID</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="idobj" placeholder="" [(ngModel)]="model.idobj" #username="ngModel">
            </div>

            <label for="tipogestion" class="col-sm-1 control-label">Tip.Gestión</label>
            <div class="col-sm-2">
                <select id="tipogestion" class="form-control" [(ngModel)]="model.tipogestion" #username="ngModel" ></select>
            </div>
        </div>
        <div class="form-group">
            <label for="idresultado" class="col-sm-1 control-label">Código</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="idresultado" placeholder="" [(ngModel)]="model.idresultado" #username="ngModel" >
            </div>

            <label for="descripcion" class="col-sm-1 control-label">Descripción</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="descripcion" placeholder="" [(ngModel)]="model.descripcion" #username="ngModel" >
            </div>
        </div>

        <div class="form-group">
            <label for="idubica" class="col-sm-1 control-label">Ubicabilidad</label>
            <div class="col-sm-2">
                <select id="idubica" class="form-control" [(ngModel)]="model.idubica" #username="ngModel" ></select>
            </div>

            <label for="prioridad" class="col-sm-1 control-label">Prioridad</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="prioridad" placeholder="" [(ngModel)]="model.prioridad" #username="ngModel" >
            </div>

            <label for="subprioridad" class="col-sm-1 control-label">Sub.Prio.</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" id="subprioridad" placeholder="" [(ngModel)]="model.subprioridad" #username="ngModel" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="model.comision" #username="ngModel" >Comisión</label>    
                </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="model.situacion" #username="ngModel" >Situación</label>                
                </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="model.alerta" #username="ngModel" >Alerta</label>                
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="submit" class="btn btn-primary" (click)="SalirNew()" >Salir</button>
            </div>
        </div>

        
    </div>

</div>
