<form class="container" name="frmGeneralCode" #frmGeneralCode="ngForm" role="form" novalidate>
    <div class="row small">
        <h4>Mantenimiento Resultado</h4>
    </div>

    <div class="row small">
        <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Tip.Gestión</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : blnValidate }">
                <select [(ngModel)]="result.tipogestion" class="form-control" name="tipogestion" required [disabled]="Modify" >
                    <option value="">Seleccionar</option>
                    <option *ngFor="let opc of lstTipGestion" value="{{opc.ID}}">{{opc.Value}}</option>
                </select>
            </div>
            
            <label class="col-sm-1 control-label">Ubicabilidad</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : blnValidate }">
                <select class="form-control" [(ngModel)]="result.idubica" name="idubica" required >
                    <option value="">Seleccionar</option>
                    <option *ngFor="let opc1 of lstUbica" value="{{opc1.ID}}">{{opc1.Value}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row small">
        <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Código</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : blnValidate }" >
                <input [(ngModel)]="result.resultcode" type="text" class="form-control" name="resultcode" required [disabled]="Modify" >
            </div>

            <label class="col-sm-1 control-label">Descripción</label>
            <div class="col-sm-6" [ngClass]="{'has-error has-feedback' : blnValidate }" >
                <input type="text" class="form-control" [(ngModel)]="result.descripcion" name="descripcion" required >
            </div>
        </div>
    </div>

    <div class="row small">
        <div class="form-group form-group-sm">
            <label class="col-sm-1 control-label">Prioridad</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : blnValidate }" >
                <input type="number" class="form-control" placeholder="0" [(ngModel)]="result.prioridad" name="prioridad" required >
            </div>

            <label class="col-sm-1 control-label">Sub.Prio.</label>
            <div class="col-sm-2" [ngClass]="{'has-error has-feedback' : blnValidate }" >
                <input type="number" class="form-control" placeholder="0" [(ngModel)]="result.subprioridad" name="subprioridad" required >
            </div>
        </div>
    </div>

    <div class="row small">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="result.comision" name="comision" >Comisión</label>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="result.situacion" name="situacion" >Situación</label>                
                </div>
            </div>

            <label class="col-sm-1 control-label">Cantidad</label>
            <div class="col-sm-1">
                <input type="number" class="form-control" placeholder="0" [(ngModel)]="result.SituationQuantity" name="SituationQuantity" >
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="result.alerta" name="alerta" >Alerta</label>                
                </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="result.Payment" name="Payment" >Compromiso de Pago</label>                
                </div>
            </div>
        </div>
    </div>

    <div class="row small">
        <div class="form-group form-group-sm">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="button" class="btn btn-primary btn-sm" (click)="SaveResult(frmGeneralCode.valid)" >Guardar</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="SalirNew()" >Salir</button>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-5">
            <Contact-component *ngIf="StateContact" [register]="register" [lstResultCodeContact]="lstResultCodeContact" ></Contact-component>
        </div>

        <div class="col-md-6">
            <Relation-component *ngIf="StateContact" [register]="register" [lstResultCodeRelation]="lstResultCodeRelation" ></Relation-component>
        </div>
    </div>
</form>
