<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Cliente</label>
        <label class="col-sm-10 control-label">47829210 - Rodolfo Junior Peña Benito</label>
    </div>
    <div class="form-group">
        <label for="PersonType" class="col-sm-2 control-label">Tipo Persona</label>
        <div class="col-sm-2">
            <select id="PersonType" class="form-control input-sm">
                <option value="">Seleccionar</option>
            </select>
        </div>
        <label for="Sex" class="col-sm-1 control-label">Sexo</label>
        <div class="col-sm-2">
           <select id="Sex" class="form-control input-sm">
               <option value="">Seleccionar</option>
               <option value="M">Masculino</option>
               <option value="F">Femenino</option>
           </select>
        </div>
        <label for="Salary" class="col-sm-1 control-label">Salario</label>
        <div class="col-sm-2">
            <input id="Salary" type="text" class="form-control input-sm" name="CompanyName" placeholder="Ingresar salario" />
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Correo</label>
        <div class="col-sm-4">
            <input id="Email" type="email" class="form-control input-sm" placeholder="Ingresar correo electrónico" />
        </div>
        <label for="BirthDate" class="col-sm-2 control-label">Fecha Nac.</label>
        <div class="col-sm-4">
            <input id="BirthDate" type="date" class="form-control input-sm" />
        </div>
    </div>
    <div class="form-group">
        <label for="Profession" class="col-sm-2 control-label">Profesión</label>
        <div class="col-sm-4">
            <input id="Profession" type="text" class="form-control input-sm" placeholder="Ingresar profesión" />
        </div>
        <label for="CompanyCategory" class="col-sm-2 control-label">Rubro</label>
        <div class="col-sm-4">
            <input id="CompanyCategory" type="text" class="form-control input-sm" name="CompanyCategory" placeholder="Ingresar rubro" />
        </div>
    </div>
    <div class="form-group">
        <label for="CompanyName" class="col-sm-2 control-label">Rz. Social</label>
        <div class="col-sm-4">
            <input id="CompanyName" type="text" class="form-control input-sm" name="CompanyName" placeholder="Ingresar Razón Social" />
        </div>
        <label for="CompanyCode" class="col-sm-2 control-label">RUC</label>
        <div class="col-sm-4">
            <input id="CompanyCode" type="text" class="form-control input-sm" name="CompanyCode" placeholder="Ingresar RUC" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="WorkCenter" class="col-sm-2 control-label">Centro Laboral</label>
        <div class="col-sm-4">
            <input id="WorkCenter" type="text" class="form-control input-sm" placeholder="Ingresar centro laboral" />
        </div>
        <label for="WorkCompanyCode" class="col-sm-2 control-label">RUC CL</label>
        <div class="col-sm-4">
            <input id="WorkCompanyCode" type="text" class="form-control input-sm" placeholder="Ingresar RUC de centro laboral" />
        </div>
    </div>
    <div class="form-group">
        <label for="WorkPosition" class="col-sm-2 control-label">Cargo</label>
        <div class="col-sm-4">
            <input id="WorkPosition" type="text" class="form-control input-sm" placeholder="Ingresar cargo" />
        </div>
        <label for="WorkArea" class="col-sm-2 control-label">Area</label>
        <div class="col-sm-4">
            <input id="WorkArea" type="text" class="form-control input-sm" placeholder="Ingresar área" />
        </div>
    </div>
    <div class="form-group">
        <label for="Observation" class="col-sm-2 control-label">Observacion</label>
        <div class="col-sm-10">
            <textarea id="Observation" class="form-control" rows="3" name="Observation" placeholder="Ingresar una observación"></textarea>
        </div>
    </div>
</div>