<div id="tab-Customer">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personalData" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Datos Personales</a></li>
        <li><a href="#anotherData" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> Otros Datos</a></li>
        <li><a href="#paid" data-toggle="tab"><span class="glyphicon glyphicon-usd"></span> Pagos</a></li>
        <li><a href="#schedule" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> Cronograma</a></li>
    </ul>
    <div id="tabs-Customer" class="tab-content">
        <div class="tab-pane fade active in" id="personalData">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Cliente</label></div>
                            <div class="col-sm-6">{{customerBagData.Name}}</div>
                            <div class="col-sm-2"><label class="control-label">Doc</label></div>
                            <div class="col-sm-2">{{customerBagData.DocNumber}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Rz. Social</label></div>
                            <div class="col-sm-6">{{customerBagData.CompanyCode}}</div>
                            <div class="col-sm-2"><label class="control-label">RUC</label></div>
                            <div class="col-sm-2">{{customerBagData.CompanyName}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Estado</label></div>
                            <div class="col-sm-2">{{customerBagData.Situation}}</div>
                            <div class="col-sm-2"><label class="control-label">Call</label></div>
                            <div class="col-sm-2">{{customerBagData.StatusCall}}</div>
                            <div class="col-sm-2"><label class="control-label">Sueldo</label></div>
                            <div class="col-sm-2 text-right">{{customerBagData.Salary}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Correo</label></div>
                            <div class="col-sm-8">{{customerBagData.Email}}</div>
                            <div class="col-sm-2 text-right"><a href="#" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="anotherData">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Centro Laboral</label></div>
                            <div class="col-sm-4">{{customerBagData.WorkCenter}}</div>
                            <div class="col-sm-2"><label class="control-label">Cargo</label></div>
                            <div class="col-sm-4">{{customerBagData.WorkPosition}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Profesión</label></div>
                            <div class="col-sm-4">{{customerBagData.Profession}}</div>
                            <div class="col-sm-2"><label class="control-label">Fecha Nac.</label></div>
                            <div class="col-sm-4">{{customerBagData.BirthDateString}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Sexo</label></div>
                            <div class="col-sm-4">{{customerBagData.Sex}}</div>
                            <div class="col-sm-2"><label class="control-label">Ranking</label></div>
                            <div class="col-sm-4">{{customerBagData.Ranking}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Observación</label></div>
                            <div class="col-sm-10">{{customerBagData.Observationv}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="paid">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="schedule">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>