<div id="tab-Customer">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personalData" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Datos Personales</a></li>
        <li><a href="#anotherData" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> Otros Datos</a></li>
        <li><a href="#paid" data-toggle="tab"><span class="glyphicon glyphicon-usd"></span> Pagos</a></li>
        <li><a href="#schedule" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> Cronograma</a></li>
    </ul>
    <div id="tabs-Customer" class="tab-content">
        <div class="tab-pane fade active in" id="personalData">
            <table class="table-mngt table table-condensed">
                <tbody>
                    <tr>
                        <td>Codcli</td>
                        <td><span class="label label-default">{{customerBagData.DocNumber}}</span></td>
                        <td>W</td>
                        <td><span class="label label-default"> </span></td>
                        <td colspan="2" >Sueldo</td>
                        <td colspan="2"><span class="label label-default">0</span></td>
                        <!-- <td>
                            <div class="col-sm-2"><label class="control-label">Cliente</label></div>
                            <div class="col-sm-6">{{customerBagData.Name}}</div>
                            <div class="col-sm-2"><label class="control-label">Doc</label></div>
                            <div class="col-sm-2">{{customerBagData.DocNumber}}</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td colspan="3"><span class="label label-default">{{customerBagData.Name}}</span></td>
                        <td>E/S</td>
                        <td><span class="label label-default"> </span> <span class="label label-default"> </span></td>
                        <td>@</td>
                        <td><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Rz. Social</label></div>
                            <div class="col-sm-6">{{customerBagData.CompanyCode}}</div>
                            <div class="col-sm-2"><label class="control-label">RUC</label></div>
                            <div class="col-sm-2">{{customerBagData.CompanyName}}</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Cargo</td>
                        <td><span class="label label-default"> </span></td>
                        <td>RUC</td>
                        <td><span class="label label-default"> </span></td>
                        <td colspan="2">Otros</td>
                        <td colspan="2"><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Correo</label></div>
                            <div class="col-sm-6">{{customerBagData.Email}}</div>
                            <div class="col-sm-2"><label class="control-label">Sueldo</label></div>
                            <div class="col-sm-2 text-right">{{customerBagData.Salary}}</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Doc C</td>
                        <td><span class="label label-default"> </span></td>
                        <td>Conyuge</td>
                        <td colspan="5"><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Estado</label></div>
                            <div class="col-sm-3"><span class="label label-primary">{{customerBagData.Situation}}</span></div>
                            <div class="col-sm-2"><label class="control-label">Call</label></div>
                            <div class="col-sm-3"><span class="label label-success">{{customerBagData.StatusCall}}</span></div>
                            <div class="col-sm-2 text-right"><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span> Editar</button></div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Referencia</td>
                        <td colspan="7"><span class="label label-default"> </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="anotherData">
            <table class="table-mngt table table-condensed">
                <tbody>
                    <tr>
                        <td>Doc Aval</td>
                        <td><span class="label label-default"> </span></td>
                        <td>Aval</td>
                        <td><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Centro Laboral</label></div>
                            <div class="col-sm-4">{{customerBagData.WorkCenter}}</div>
                            <div class="col-sm-2"><label class="control-label">Cargo</label></div>
                            <div class="col-sm-4">{{customerBagData.WorkPosition}}</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Rubro</td>
                        <td><span class="label label-default"> </span></td>
                        <td>Fecha Nac.</td>
                        <td><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Profesión</label></div>
                            <div class="col-sm-4">{{customerBagData.Profession}}</div>
                            <div class="col-sm-2"><label class="control-label">Fecha Nac.</label></div>
                            <div class="col-sm-4">{{customerBagData.BirthDateString}}</div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>Nro de Hijos</td>
                        <td><span class="label label-default">0</span></td>
                        <td>Entidades</td>
                        <td><span class="label label-default"> </span></td>
                        <!-- <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Sexo</label></div>
                            <div class="col-sm-4">{{customerBagData.Sex}}</div>
                            <div class="col-sm-2"><label class="control-label">Ranking</label></div>
                            <div class="col-sm-4">{{customerBagData.Ranking}}</div>
                        </td> -->
                    </tr>
                    <!-- <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Observación</label></div>
                            <div class="col-sm-10">{{customerBagData.Observationv}}</div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="paid">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="schedule">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>