<div class="menu-container" [@openClose]="stateExpression">
    <a class="menu-button-show" (click)="ShowHideMenu()"></a>
    <a class="menu-logo" href="#">
        <div class="text-center">
            <!-- <i class="fa fa-globe fa-5x" aria-hidden="true"></i> -->
            <img src="..\..\..\assets\hpc-logo.png" alt="" class="img-responsive img-rounded">
        </div>
    </a>
    <nav class="menu-nav">
        <ul class="menu-ul-nav-wrap">
            <li class="nav-first-level" *ngFor="let option of options">
                <span class="list-collapse">{{option.Name}} <i class="ico-collapse"></i></span>
                <ul class="nav-collapse" *ngIf="option.SubMenu.length > 0">
                    <li class="nav-second-level" *ngFor="let smn of option.SubMenu">
                        <a *ngIf="smn.Url == '#'">{{smn.Name}}</a>
                        <a *ngIf="smn.Url != '#'" routerLink="{{smn.Url}}" (click)="ShowHideMenu()">{{smn.Name}}</a>
                        <ul class="nav-collapse-sub" *ngIf="smn.SubMenuSon.length > 0">
                            <li class="nav-third-level" *ngFor="let son of smn.SubMenuSon">
                                <a routerLink="{{son.Url}}"  (click)="ShowHideMenu()">{{son.Name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>