<div class="menu-container" [@openClose]="stateExpression">
    <a class="menu-button-show" (click)="ShowHideMenu()"></a>
    <a class="logo" href="#">
        <div class="text-center">
            BRBRB
        </div>
    </a>
    <nav class="menu-nav">
        <ul class="menu-ul-nav-wrap">
            <li class="nav-first-level">
                <span class="list-collapse">Seguridad <i class="ico-collapse"></i></span>
            </li>
            <li class="nav-first-level">
                <span class="list-collapse">Mantenimiento <i class="ico-collapse"></i></span>
            </li>
            <li class="nav-first-level">
                <span class="list-collapse">Procesos <i class="ico-collapse"></i></span>
            </li>
            <li class="nav-first-level">
                <span class="list-collapse">Reportes <i class="ico-collapse"></i></span>
            </li>
        </ul>
    </nav>
</div>